<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <p>{{listing.id}}</p>
                    </td>

                    <td>
                        <p>{{listing.Address}}</p>
                    </td>
                    <td>
                        <p>{{listing.Description}}</p>
                    </td>
                    <td>
                </tr>
                    <tr data-ng-repeat="image in listing.ImageList">
                        <td>
                            <image ng-src="https://madans-listings.azureedge.net/thumbs/{{image}}" item-width="100" item-height="200"/>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>