<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="madankumarshotmail.onmicrosoft.com" />
    <add key="ida:ClientID" value="12a186b6-758b-4293-8628-06f5dbfbdcc4" />
    <add key="ida:RedirectUri" value="http://localhost" />
    <add key="endpointId" value="https://madankumarshotmail.onmicrosoft.com/listingsapi" />

  </appSettings>

</configuration>